ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.fix{
  position: fixed;
  width: 100%;
  margin-top:-100px;
}
.home{
  background-color: #808080;
}
.iphone{
  float: left;
  margin-left: 100px;
  margin-top: 100px;
}
.p1{
  margin-left: 400px;
  margin-right: 100px;
  margin-top: 100px;
  color: white;
}
.Apple11pro{
  float: left;
  width: 300px;
  height: 300px;
  margin-left: 80px;
}
.Apple11{
  float: left;
  width: 300px;
  height: 300px;
  margin-top: 223px;
  margin-left: -277px;
}
.p2{
  margin-top: 380px;
  /*margin-left: 300px;*/
}
.Apple10{
  float: left;
  width: 300px;
  height: 300px;
  margin-top: 200px;
  margin-left: -350px;
}
.p3{
  margin-left: 400px;
}
.About-us{
  background-color: #00ff00;
}
.contact{
  background-color: #0000ff;
  margin-top: 100px;
  padding: 10px;
}
.contactus{
  margin-top: 300px;
  margin-left: 600px;
  border-style: solid;
  width: 350px;
  padding: 10px;
  align-items: center;
}
#contactpage{
  color: white !important;
}
.nam{
  margin-left: 150px;
}
.adr{
  height: 200px;
}