.flex{
	display: flex;
	width: 400px;
	justify-content: space-between;
}
.item1{
	background-color: #f2572c;
	width: 40px;
	padding:17px;
	color: #fff;
	text-align: center;
	font-size: 25px;
}
.flex2{
	display: flex;
	justify-content: flex-end;
}
.item2{
	background-color: #ffe600;
	width: 40px;
	padding:17px;
	color: #fff;
	text-align: center;
	font-size: 25px;
	margin: 10px;
}
.flexa{
	display: flex;
	justify-content: center;
}
.itema{
	background-color: #53cdfc;
	width: 40px;
	padding:17px;
	color: #fff;
	text-align: center;
	font-size: 25px;
	margin: 5px;
}
.flex3{
	display: flex;
	justify-content: space-between;
}
.item3{
	background-color: #a7fc9a;
	width: 40px;
	padding:17px;
	color: #fff;
	text-align: center;
	font-size: 25px;
	margin: 5px;
}
.flex4{
	display: flex;
	justify-content: space-around;
}
.item4{
	background-color:#fa7fc9;
	width: 40px;
	padding:17px;
	color: #fff;
	text-align: center;
	font-size: 25px;
	margin: 15px;
}
.flex5{
	display: flex;
	width: 1100px;
	justify-content: space-around;
	margin-left: 95px;
}
.item5{
	background-color:#bcfa7f;
	width: 40px;
	padding:17px;
	color: #fff;
	text-align: center;
	font-size: 25px;
}