body{
	font-family: sans-serif;
}
.aboutpage{
	font-size: 40px;
	color: #2f1852;
}
.table3{
	width:500px;
	background-color: #b89a49;
	padding-right: 0;
	margin-left: 100px;
}
.table4{
	width:400px;
	background-color: #b89a49;
	padding-right: 0;
	margin-left: 700px;
	margin-top: -210px;
}
.img3{
	float:left;
}
.table5{
	margin-left: 80px;
}
.wid1{
	width: 500px;
	margin-left: -28px;
}
.wid2{
	width: 500px;
	margin-left: 60px;
}