#flex{
	display: flex;
	width: 80px;
	/*height: 200px;*/
	border:1px solid black;
	/*flex-wrap: wrap;*/
	/*justify-content: space-around; */
	/*align-items: stretch;*/
}
.item1{
	background-color: grey;
	width: 90px;
}
.item2{
	background-color: lime;
	width: 90px;	
	flex-shrink: 0;
}
.item3{
	width: 90px;
	background-color: blue;
}
.item4{
	width: 90px;
	background-color: coral;
}
#flex1{
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	align-items: flex-end;
}